.tile-container{
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  margin: 10px 5px;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color:  rgb(204, 157, 157);
  cursor: pointer;
}

.meal-details{
  position: relative;
  text-align: center;
  width: 20%;


}

.delete-meal{

    position: absolute;
    top: 0px;
    right: 0px;

}
/* 
.tile {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: 10px 5px;
  justify-content: space-between;
  background-color:  rgb(228, 93, 93);
  cursor: pointer;
} */